<meta charset="utf8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- bootstrap & fontawesome -->
<link rel="stylesheet" href="http://<?=$config->adomain?>/ace/css/bootstrap.min.css?v=<?=$staticVersion?>" />
<link rel="stylesheet" href="http://<?=$config->adomain?>/ace/font-awesome/4.5.0/css/font-awesome.min.css?v=<?=$staticVersion?>" />

<!-- page specific plugin styles -->
<link rel="stylesheet" href="http://<?=$config->adomain?>/ace/css/jquery-ui.min.css?v=<?=$staticVersion?>" />

<link rel="stylesheet" href="http://<?=$config->adomain?>/ace/css/jquery.gritter.min.css?v=<?=$staticVersion?>" />

<!-- text fonts -->
<link rel="stylesheet" href="http://<?=$config->adomain?>/ace/css/fonts.googleapis.com.css?v=<?=$staticVersion?>" />

<!-- ace styles -->
<link rel="stylesheet" href="http://<?=$config->adomain?>/ace/css/ace.min.css?v=<?=$staticVersion?>" class="ace-main-stylesheet" id="main-ace-style" />
<link rel="stylesheet" href="http://<?=$config->adomain?>/ace/css/ace-skins.min.css?v=<?=$staticVersion?>" />
<link rel="stylesheet" href="http://<?=$config->adomain?>/ace/css/ace-rtl.min.css?v=<?=$staticVersion?>" />

<!--[if lte IE 9]>
<link rel="stylesheet" href="http://<?=$config->adomain?>/ace/css/ace-part2.min.css?v=<?=$staticVersion?>" class="ace-main-stylesheet" />
<link rel="stylesheet" href="http://<?=$config->adomain?>/ace/css/ace-ie.min.css?v=<?=$staticVersion?>" />
<![endif]-->
