<div id="sidebar" class="sidebar responsive">
    <ul class="nav nav-list">
        <li class="active">
            <a href="/">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text">首页</span>
            </a>
            <b class="arrow"></b>
        </li>

        <li>
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-file-o"></i>
                <span class="menu-text">
                    管理一
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li>
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i>
                        管理1
                    </a>
                    <b class="arrow"></b>
                </li>
                <li>
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i>
                        管理2
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text">
                    管理二
                </span>
                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>
            <ul class="submenu">
                <li>
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i>
                        管理1
                    </a>
                    <b class="arrow"></b>
                </li>
                <li>
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i>
                        管理2
                    </a>
                    <b class="arrow"></b>
                </li>
            </ul>
        </li>
    </ul>

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>
